
/* Centrare pagina pe mijloc */
body 
{ 
 margin: 0; 
 padding: 0; 
 text-align: center; 
} 

.meniu{
    border-radius: 10px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #004d98;
    font-size: 30px;

    display: flex;
    justify-content: center;
    
    gap: 60px;

    a {
        background-color: #a50044;
        color: white;
        font-family: Arial;
        text-decoration: none;
        height: 100px;
        padding: 5px;
        display: flex;
        align-items: center;
        /* &:nth-child(odd) {
            color: red;
        }
        &:nth-child(even) {
            color: blue;
        } */
    }
    a:hover{
        background-color: #ff0000;
        outline: 3px solid black;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

p::first-letter {
    font-size: 120%;
    color: red;
}

.tabel{
    th,
    td {
        border: 1px solid black;
    }
    margin: auto;
    
}