
/* Centrare pagina pe mijloc */
body{ 
    margin: 0; 
    padding: 0; 
    text-align: center; 
} 

.meniu{
    border-radius: 10px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #004d98;
    font-size: 30px;

    display: flex;
    justify-content: center;
    
    gap: 60px;

    a {
        background-color: #a50044;
        color: white;
        font-family: Arial;
        text-decoration: none;
        height: 100px;
        padding: 5px;
        display: flex;
        align-items: center;
    }
    a:hover{
        background-color: #ff0000;
        outline: 3px solid black;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

p::first-letter {
    font-size: 120%;
    color: red;
}

.tabel{
    th,
    td {
        border: 1px solid black;
    }
    margin: auto;
    
}

.titlu {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to right, #edbb00 0%, #a50044 50%, #004d98 100%);
    
    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;    
    display: inline-block;
}


.logo{
    width: 200px;
    height: 200px;
    cursor: pointer;
}
.logo:hover{
    transform: rotate(360deg);
    transition: transform 1s ease-in-out;
}

.video{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: auto;
    background-color: #004d98;

    
}

canvas {
    border: 1px solid black;
    margin: auto;
    display: block;
}


@media print{
    .titlu{
        font-size: 24px;
        background: none;
        color: black;
    }
    .meniu {
        background: none;
        text-align: left;
        border: 1px solid #ccc;
        padding: 10px;
        display: flex;
        justify-content: center;    
    }

    .meniu a {
        background: none;
        color: black;
        display: inline-block;
        margin-right: 20px;
        padding: 0;
        height: auto;
        font-size: 16px;
        text-decoration: underline;
    }
}